<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dkkj.wisdomsite.tunnel.modules.tunnel.mapper.ProcessMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.dkkj.wisdomsite.tunnel.modules.tunnel.domain.Process">
                    <id column="id" property="id"/>
                    <result column="worksite_code" property="worksiteCode"/>
                    <result column="process_name" property="processName"/>
                    <result column="work_content" property="workContent"/>
                    <result column="fill_user" property="fillUser"/>
                    <result column="create_time" property="createTime"/>
                    <result column="update_time" property="updateTime"/>
                    <result column="del_flag" property="delFlag"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, worksite_code, process_name, work_content, fill_user, create_time, update_time, del_flag
        </sql>

</mapper>